name: CI

on:
    push:
        branches:
            - main
    pull_request:

permissions:
  contents: read

jobs:
    test:
        runs-on: ubuntu-latest
        timeout-minutes: 20

        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
              with:
                egress-policy: audit

            - name: Checkout
              uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

            - name: Setup Node.js
              uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
              with:
                  node-version: 20.19.0
                  cache: npm

            - name: Install dependencies
              run: npm ci --force

            - name: Lint
              run: npm run lint

            - name: Typecheck
              run: npm run typecheck

            - name: Test
              run: npm test
