# This GitHub Actions workflow is designed to automatically mark issues and pull requests as stale
# if they have had no activity for a specified amount of time. It uses the `actions/stale` action
# to perform this task. The workflow is scheduled to run daily at 07:38 AM (UTC) as specified by
# the cron expression.
#
# The workflow has the following permissions:
# - Read access to repository contents.
# - Write access to issues and pull requests.
#
# The workflow consists of a single job named `stale` that runs on the latest Ubuntu runner.
# The job includes the following steps:
# 1. Harden Runner: Uses the `step-security/harden-runner` action to enhance the security of the
#    runner by auditing egress traffic.
# 2. Mark Stale Issues and PRs: Uses the `actions/stale` action to mark issues and pull requests
#    as stale. The action is configured with the following parameters:
#    - `repo-token`: The GitHub token used to authenticate the action.
#    - `stale-issue-message`: The message to post on stale issues.
#    - `stale-pr-message`: The message to post on stale pull requests.
#    - `stale-issue-label`: The label to apply to stale issues.
#    - `stale-pr-label`: The label to apply to stale pull requests.
#
# For more information on configuring the `actions/stale` action, visit:
# https://github.com/actions/stale

# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: Mark stale issues and pull requests

on:
    schedule:
        - cron: "38 7 * * *"
    pull_request_target:
        types:
            - opened
            - reopened
            - synchronize
    issues:
        types:
            - opened
            - reopened
            - edited
    workflow_dispatch:

permissions:
    contents: read

jobs:
    stale:
        runs-on: ubuntu-latest
        permissions:
            issues: write
            pull-requests: write
        concurrency:
            group: stale-${{ github.ref }}
            cancel-in-progress: false

        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
              with:
                  egress-policy: audit

            - uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10.2.0
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
                  stale-issue-message: "Stale issue"
                  stale-pr-message: "Stale pull request"
                  stale-issue-label: "no-issue-activity"
                  stale-pr-label: "no-pr-activity"
